body{

	font-family: 'PT Sans', sans-serif;
	color: #010101;
}



/*header Start*/
header{
	background-color: #fcdb00;
	padding: 10px 0;
}
/*.menu{}
.menu ul{}
.menu ul li{}*/
.logo{}
.menu ul li a{
	font-family: 'PT Sans', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color: #010101 !important;
	padding: 0 55px !important;
}
.menu ul li a:hover{
	color:white !important;
	transition: .3s linear;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}
/*header end*/



/*slider Start*/
.slider{
	background-color: #fcdb00;
	padding-bottom: 100px;
}

.cid {
    bottom: -80px;
}

.cid li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /*background-color: #fff;*/
}

.cid .active{
	/*background-color: green;*/
	}

.slider_content{
	margin-top: 60px;
}
.slider_content h1{
	font-weight: 700;
	font-size: 32px;
	margin: 0;
}
.slider_content h2{
	font-weight: 400;
	font-size: 20px;
	color: #313841;
	margin: 20px 0;
	letter-spacing: 1px;
}
.slider_content p{
/*	font-weight: 400;
	font-size: 16px;*/
	color: #55555;
	margin-top: 0;
	margin-bottom: 30px;
}
.slider_icon{}
.slider_icon li img{
	margin-right: 20px;
}

.slider_image{}
.slider_image img{} 


/*slider end*/




/*features start*/
.features{
	padding-top: 80px;
	padding-bottom: 100px;
}
.c_title{}
.c_h1{
	font-size: 32px;
	font-weight: 700;
	margin-bottom: : 20px;
}
.c_p{
	font-size: 20px;
	color: #313841;
	margin-bottom: 30px;
	line-height: 25px;
	word-spacing: 2px;
}

.mt_60{
	margin-top: 60px;
}


.f_icon{
	font-size: 50px;
}
.f_text{}
.f_text h2{
	font-size: 22px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: : 13px;
}
.f_text p{
	color: #898989;
	letter-spacing: 1px;
}
/*features end*/




/*contact start*/
.contact{
	background-color: #010101;
	padding-top: 80px;
	padding-bottom: 100px;
}

.yellow{
	color: #fcdb00;
}

.ash{
	color: #898989;
}


.f_form{
	margin-top: 30px;
	margin-bottom: 60px;
}

.f_email{
	width: 100%;
	height: 50px;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #898989; 

}
.f_email:focus{
	outline: 0;
	box-shadow: none;
}
.f_submit{
	width: 100%;
	height: 50px;
	background-color: #fcdb00;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #010101 !important;
	text-transform: uppercase;
	border-radius: 5px;

}
.f_submit:hover{
	background-color: white;
	}

.f_submit:focus{
	outline: 0;
	box-shadow: none;
}

/*contact end*/



/*footer start*/
footer{
	padding-bottom: 100px;
	background-color: #010101;
}
.ft_1{
	color: white;
}
.ft_1 p{
	margin:0;
}
.ft_1 p a{
	color: white;
}

/*footer end*/
